In [104]:
#Respuesta a las preguntas hechas con estadística descriptiva
import os
import numpy as np
import pandas as pd
#El modulo "requests" permite enviar solicitudes(delete, get, head) a un url especifico
import requests

#Leemos los datos de la tabla Death Rate
html = requests.get('https://www.indexmundi.com/map/?t=0&v=26&r=xx&l=en').content
df_DR = pd.read_html('https://www.indexmundi.com/map/?t=0&v=26&r=xx&l=en')

In [105]:
datos_DR = df_DR[1]
datos_DR.to_csv('DeathRate.csv')
datos_DR

                  Country  Death rate (deaths/1,000 population)  Year
0                 Lesotho                                    15  2018
1               Lithuania                                    15  2018
2                  Latvia                                    15  2018
3                Bulgaria                                    15  2018
4                 Ukraine                                    14  2018
..                    ...                                   ...   ...
192          Saudi Arabia                                     3  2018
193               Bahrain                                     3  2018
194                Kuwait                                     2  2018
195  United Arab Emirates                                     2  2018
196                 Qatar                                     2  2018

[197 rows x 3 columns]

In [106]:
#Leemos los datos de la tabla Hospital bed density
html = requests.get('https://www.indexmundi.com/map/?t=0&v=2227&r=xx&l=en').content
df_HB = pd.read_html('https://www.indexmundi.com/map/?t=0&v=2227&r=xx&l=en')
datos_HB = df_HB[1]
datos_HB.to_csv('HospitalBeds.csv')
datos_HB

          Country  Hospital bed density (beds/1,000 population)  Year
0          Monaco                                            14  2012
1           Japan                                            13  2012
2    Korea, North                                            13  2012
3    Korea, South                                            12  2015
4         Belarus                                            11  2013
..            ...                                           ...   ...
167        Guinea                                             0  2011
168      Ethiopia                                             0  2015
169          Iran                                             0  2014
170    Madagascar                                             0  2010
171          Mali                                             0  2010

[172 rows x 3 columns]

In [107]:
#Leemos los datos de la tabla Obesity
html = requests.get('https://www.indexmundi.com/map/?t=0&v=2228&r=xx&l=en').content
df_Ob = pd.read_html('https://www.indexmundi.com/map/?t=0&v=2228&r=xx&l=en')
datos_Ob = df_Ob[1]
datos_Ob.to_csv('Obesity.csv')
datos_Ob

        Country  Obesity - adult prevalence rate (%)  Year
0         Nauru                                   61  2016
1         Palau                                   55  2016
2        Tuvalu                                   52  2016
3         Tonga                                   48  2016
4         Samoa                                   47  2016
..          ...                                  ...   ...
180       India                                    4  2016
181    Cambodia                                    4  2016
182  East Timor                                    4  2016
183  Bangladesh                                    4  2016
184     Vietnam                                    2  2016

[185 rows x 3 columns]

1. Los 50 países con mayor tasa de mortalidad

In [108]:

datos_DR.head(50)

,Country,"Death rate (deaths/1,000 population)",Year
0,Lesotho,15,2018
1,Lithuania,15,2018
2,Latvia,15,2018
3,Bulgaria,15,2018
4,Ukraine,14,2018
5,Serbia,14,2018
6,Russia,13,2018
7,Belarus,13,2018
8,Afghanistan,13,2018
9,Central African Republic,13,2018
10,Hungary,13,2018
11,Somalia,13,2018
12,Estonia,13,2018
13,Moldova,13,2018
14,Croatia,12,2018
15,Romania,12,2018
16,Zambia,12,2018
17,Germany,12,2018
18,Niger,12,2018
19,Mozambique,11,2018
20,Greece,11,2018
21,Georgia,11,2018
22,Swaziland,11,2018
23,Portugal,11,2018
24,Poland,11,2018
25,Italy,11,2018
26,Czech Republic,11,2018
27,Chad,11,2018
28,Montenegro,10,2018
29,Sierra Leone,10,2018
30,Monaco,10,2018
31,Bosnia and Herzegovina,10,2018
32,Finland,10,2018
33,Japan,10,2018
34,Slovakia,10,2018
35,Slovenia,10,2018
36,Zimbabwe,10,2018
37,Uganda,10,2018
38,Austria,10,2018
39,Belgium,10,2018
40,Macedonia,10,2018
41,Mali,10,2018
42,Nigeria,10,2018
43,Armenia,10,2018
44,Botswana,10,2018
45,France,9,2018
46,"Congo, Democratic Republic of the",9,2018
47,Cameroon,9,2018
48,United Kingdom,9,2018
49,Uruguay,9,2018

Los 50 países con menor tasa de mortalidad

In [109]:
#Los 50 países con menor tasa de mortalidad
datos_DR.tail(50)

,Country,"Death rate (deaths/1,000 population)",Year
147,Turkey,6,2018
148,Cape Verde,6,2018
149,Cayman Islands,6,2018
150,Nauru,6,2018
151,Vietnam,6,2018
152,Yemen,6,2018
153,Tajikistan,6,2018
154,East Timor,6,2018
155,El Salvador,6,2018
156,Antigua and Barbuda,6,2018
157,New Caledonia,6,2018
158,Nepal,6,2018
159,Colombia,6,2018
160,Bangladesh,5,2018
161,Mexico,5,2018
162,Samoa,5,2018
163,Uzbekistan,5,2018
164,Venezuela,5,2018
165,Iran,5,2018
166,Honduras,5,2018
167,Israel,5,2018
168,Malaysia,5,2018
169,Nicaragua,5,2018
170,Lebanon,5,2018
171,Ecuador,5,2018
172,Guatemala,5,2018
173,Panama,5,2018
174,Morocco,5,2018
175,Falkland Islands (Islas Malvinas),5,2012
176,Tonga,5,2018
177,Costa Rica,5,2018
178,Paraguay,5,2018
179,Macau,5,2018
180,Egypt,5,2018
181,Algeria,4,2018
182,Belize,4,2018
183,Vanuatu,4,2018
184,Syria,4,2018
185,Iraq,4,2018
186,Solomon Islands,4,2018
187,Brunei,4,2018
188,Libya,4,2018
189,Singapore,4,2018
190,Jordan,3,2018
191,Oman,3,2018
192,Saudi Arabia,3,2018
193,Bahrain,3,2018
194,Kuwait,2,2018
195,United Arab Emirates,2,2018
196,Qatar,2,2018

2. Los 50 países con mayor densidad de camas de hospital

In [110]:
#Los 50 países con mayor densidad de camas de hospital
datos_HB.head(50)

                  Country  Hospital bed density (beds/1,000 population)  Year
0                  Monaco                                            14  2012
1                   Japan                                            13  2012
2            Korea, North                                            13  2012
3            Korea, South                                            12  2015
4                 Belarus                                            11  2013
5                 Ukraine                                             9  2013
6                 Somalia                                             9  2014
7                 Germany                                             8  2013
8               Greenland                                             8  2015
9                  Russia                                             8  2013
10                Austria                                             8  2013
11           Turkmenistan                                             7  2013
12              Lithuania                                             7  2013
13               Mongolia                                             7  2012
14                Hungary                                             7  2013
15               Bulgaria                                             7  2013
16             Kazakhstan                                             7  2013
17                 Poland                                             7  2013
18         Czech Republic                                             7  2015
19                 France                                             7  2013
20                  Gabon                                             6  2010
21                Romania                                             6  2013
22                Belgium                                             6  2014
23             East Timor                                             6  2010
24               Barbados                                             6  2014
25               Slovakia                                             6  2015
26                 Latvia                                             6  2013
27                Moldova                                             6  2013
28                 Serbia                                             6  2012
29                Croatia                                             6  2015
30              Hong Kong                                             5  2018
31                   Cuba                                             5  2014
32                Estonia                                             5  2015
33              Argentina                                             5  2014
34                  Nauru                                             5  2010
35             Luxembourg                                             5  2014
36                  Palau                                             5  2010
37  Saint Kitts and Nevis                                             5  2012
38             Tajikistan                                             5  2013
39            Switzerland                                             5  2013
40            Netherlands                                             5  2009
41                  Malta                                             5  2014
42             Azerbaijan                                             5  2013
43               Slovenia                                             5  2013
44             Kyrgyzstan                                             5  2013
45              Macedonia                                             4  2013
46                Finland                                             4  2015
47                 Greece                                             4  2015
48                  China                                             4  2012
49                Armenia                                             4  2015

Los 50 países con menor densidad de camas de hospital

In [111]:
#Los 50 países con menor densidad de camas de hospital
datos_HB.tail(50)

,Country,"Hospital bed density (beds/1,000 population)",Year
122,Syria,2,2014
123,Jordan,1,2015
124,Kenya,1,2010
125,Iraq,1,2014
126,Solomon Islands,1,2012
127,Djibouti,1,2014
128,Cameroon,1,2010
129,El Salvador,1,2014
130,Belize,1,2014
131,Malawi,1,2011
132,Paraguay,1,2011
133,Saint Lucia,1,2013
134,Qatar,1,2014
135,Indonesia,1,2015
136,United Arab Emirates,1,2013
137,Morocco,1,2014
138,Bolivia,1,2014
139,Costa Rica,1,2014
140,"Gambia, The",1,2011
141,Central African Republic,1,2011
142,Philippines,1,2011
143,Guinea-Bissau,1,2009
144,Nicaragua,1,2014
145,Burma,1,2012
146,Ghana,1,2011
147,Cambodia,1,2015
148,Burundi,1,2014
149,Bangladesh,1,2015
150,Sudan,1,2013
151,Liberia,1,2010
152,Venezuela,1,2014
153,Yemen,1,2014
154,Togo,1,2011
155,Tanzania,1,2010
156,India,1,2011
157,Mozambique,1,2011
158,Haiti,1,2013
159,Honduras,1,2014
160,Eritrea,1,2011
161,Guatemala,1,2014
162,Pakistan,1,2014
163,Afghanistan,1,2014
164,Benin,1,2010
165,Uganda,1,2010
166,Burkina Faso,0,2010
167,Guinea,0,2011
168,Ethiopia,0,2015
169,Iran,0,2014
170,Madagascar,0,2010
171,Mali,0,2010

3. Los 50 países con mayor indice de obesidad

In [112]:
#Los 50 países con mayor indice de obesidad
datos_Ob.head(50)

                 Country  Obesity - adult prevalence rate (%)  Year
0                  Nauru                                   61  2016
1                  Palau                                   55  2016
2                 Tuvalu                                   52  2016
3                  Tonga                                   48  2016
4                  Samoa                                   47  2016
5               Kiribati                                   46  2016
6                 Kuwait                                   38  2016
7          United States                                   36  2016
8                 Jordan                                   36  2016
9           Saudi Arabia                                   35  2016
10                 Qatar                                   35  2016
11                 Libya                                   33  2016
12                Turkey                                   32  2016
13               Lebanon                                   32  2016
14                 Egypt                                   32  2016
15  United Arab Emirates                                   32  2016
16          Bahamas, The                                   32  2016
17           New Zealand                                   31  2016
18                  Iraq                                   30  2016
19                  Fiji                                   30  2016
20               Bahrain                                   30  2016
21                Canada                                   29  2016
22             Australia                                   29  2016
23                 Malta                                   29  2016
24                Mexico                                   29  2016
25             Argentina                                   28  2016
26          South Africa                                   28  2016
27                 Chile                                   28  2016
28              Dominica                                   28  2016
29               Uruguay                                   28  2016
30        United Kingdom                                   28  2016
31                 Syria                                   28  2016
32    Dominican Republic                                   28  2016
33               Algeria                                   27  2016
34                  Oman                                   27  2016
35               Tunisia                                   27  2016
36              Suriname                                   26  2016
37               Hungary                                   26  2016
38             Lithuania                                   26  2016
39                Israel                                   26  2016
40               Morocco                                   26  2016
41        Czech Republic                                   26  2016
42                  Iran                                   26  2016
43            Costa Rica                                   26  2016
44               Andorra                                   26  2016
45             Venezuela                                   26  2016
46               Ireland                                   25  2016
47               Vanuatu                                   25  2016
48              Bulgaria                                   25  2016
49                Greece                                   25  2016

Los 50 países con menor índice de obesidad

In [113]:
#Los 50 países con menor indice de obesidad
datos_Ob.tail(50)

,Country,Obesity - adult prevalence rate (%),Year
135,Liberia,10,2016
136,Benin,10,2016
137,"Congo, Republic of the",10,2016
138,Guinea-Bissau,10,2016
139,Nigeria,9,2016
140,Senegal,9,2016
141,Sierra Leone,9,2016
142,Pakistan,9,2016
143,Mali,9,2016
144,Togo,8,2016
145,Tanzania,8,2016
146,Somalia,8,2016
147,Angola,8,2016
148,Zambia,8,2016
149,Equatorial Guinea,8,2016
150,Comoros,8,2016
151,Guinea,8,2016
152,Central African Republic,8,2016
153,Mozambique,7,2016
154,Kenya,7,2016
155,Indonesia,7,2016
156,"Korea, North",7,2016
157,"Congo, Democratic Republic of the",7,2016
158,Sudan,7,2014
159,Bhutan,6,2016
160,Philippines,6,2016
161,China,6,2016
162,Chad,6,2016
163,Singapore,6,2016
164,Burma,6,2016
165,Rwanda,6,2016
166,Malawi,6,2016
167,Burkina Faso,6,2016
168,Niger,6,2016
169,Afghanistan,6,2016
170,Burundi,5,2016
171,Madagascar,5,2016
172,Laos,5,2016
173,Uganda,5,2016
174,Sri Lanka,5,2016
175,Eritrea,5,2016
176,"Korea, South",5,2016
177,Ethiopia,5,2016
178,Japan,4,2016
179,Nepal,4,2016
180,India,4,2016
181,Cambodia,4,2016
182,East Timor,4,2016
183,Bangladesh,4,2016
184,Vietnam,2,2016

In [114]:
datos_HB

          Country  Hospital bed density (beds/1,000 population)  Year
0          Monaco                                            14  2012
1           Japan                                            13  2012
2    Korea, North                                            13  2012
3    Korea, South                                            12  2015
4         Belarus                                            11  2013
..            ...                                           ...   ...
167        Guinea                                             0  2011
168      Ethiopia                                             0  2015
169          Iran                                             0  2014
170    Madagascar                                             0  2010
171          Mali                                             0  2010

[172 rows x 3 columns]

4. Promedio de la tasa de muerte en países con densidad de camas menor a 5 camas/1000 habitantes

In [135]:
#Seleccionamos aquellos países cuya densidad de camas de hospital menor a 5
datos_HB.loc[datos_HB['Hospital bed density (beds/1,000 population)'] < 5]

        Country  Hospital bed density (beds/1,000 population)  Year
45    Macedonia                                             4  2013
46      Finland                                             4  2015
47       Greece                                             4  2015
48        China                                             4  2012
49      Armenia                                             4  2015
..          ...                                           ...   ...
167      Guinea                                             0  2011
168    Ethiopia                                             0  2015
169        Iran                                             0  2014
170  Madagascar                                             0  2010
171        Mali                                             0  2010

[127 rows x 3 columns]

In [145]:
HB_DR = pd.merge(datos_DR, datos_HB)

In [146]:
HB_DR.columns

Index(['Country', 'Death rate (deaths/1,000 population)', 'Year',
       'Hospital bed density (beds/1,000 population)'],
      dtype='object')

In [147]:
HB_DR

,Country,"Death rate (deaths/1,000 population)",Year,"Hospital bed density (beds/1,000 population)"
0,Hong Kong,8,2018,5
1,Mauritius,7,2018,4

5. Promedio de muertes/1000 habitantes en países con índice de obesidad mayor a 75%

In [116]:
datos_Ob

        Country  Obesity - adult prevalence rate (%)  Year
0         Nauru                                   61  2016
1         Palau                                   55  2016
2        Tuvalu                                   52  2016
3         Tonga                                   48  2016
4         Samoa                                   47  2016
..          ...                                  ...   ...
180       India                                    4  2016
181    Cambodia                                    4  2016
182  East Timor                                    4  2016
183  Bangladesh                                    4  2016
184     Vietnam                                    2  2016

[185 rows x 3 columns]

In [117]:
#Seleccionamos aquellos países cuyo índice de obesidad es mayor al a 75%. Lo haremos sin utilizar el 
# atributo de pandas 'loc'.
Obesity = datos_Ob['Obesity - adult prevalence rate (%)']>75
Obesity

0      False
1      False
2      False
3      False
4      False
       ...
180    False
181    False
182    False
183    False
184    False
Name: Obesity - adult prevalence rate (%), Length: 185, dtype: bool

In [118]:
#Seleccionamos los países cuyo índice de obesidad es mayor al 75%
datos_Ob[Obesity]

Empty DataFrame
Columns: [Country, Obesity - adult prevalence rate (%), Year]
Index: []

In [119]:
#Ningun país tiene índice de obesidad mayor al 75%, lo máximo es 61%

In [120]:
#Seleccionamos aquellos países cuyo índice de obesidad es mayor al a 50%
Obesity = datos_Ob['Obesity - adult prevalence rate (%)']>50
Obesity

0       True
1       True
2       True
3      False
4      False
       ...
180    False
181    False
182    False
183    False
184    False
Name: Obesity - adult prevalence rate (%), Length: 185, dtype: bool

In [121]:
#Países con índice de obesidad mayor a 50%
datos_Ob[Obesity]

  Country  Obesity - adult prevalence rate (%)  Year
0   Nauru                                   61  2016
1   Palau                                   55  2016
2  Tuvalu                                   52  2016